@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oregano:ital@1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05)),
   url('../public/bg-8.jpg');
    position: fixed;
    background-position: center;
    left: 0;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.logo-text{
  font-family: 'Oregano', cursive;
}
.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.post-card{
  background: rgba(0, 0, 0, 0.2);
  P{
    color: #fff;
 
  }
  span{
    color: #fff;
  }
  h1{
    color: rgb(224, 188, 245);
    &:hover{
      color: #ffffff;
    }
  }
}

.post-categories{
  background: rgba(0, 0, 0, 0.2);
  h3{
    color: rgb(224, 188, 245);
  }
  span{
    color: #fff;
  }
}

.post-widget{
  background: rgba(0, 0, 0, 0.2);
  h3{
    color: rgb(224, 188, 245);
  }
  p{
    color: #fff;
    
  }
  a{
    color: rgb(224, 188, 245);
  }
}

.post-author{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3{
    color: rgb(224, 188, 245);
  }
}

.feature-post{
  overflow: hidden;
  border-radius: 10px;
  user-select: none;
  &:hover{
    .feature-post-img{
      scale: 1.05;
      transition: 0.4s;
    }
    
  }
  .feature-post-bg{
     background: rgba(0, 0, 0, 0.25);
  }

}

.custom-arrow{
  background: rgba(255, 32, 125, 0.712);
  position: absolute;
}
.arrow-right{
  right: 0;
}
.arrow-left{
  left: 0;
}
img{
  user-select: none;
}
